table,td,th{
    border: 2px solid rgb(128, 0, 90);
    border-collapse: collapse;

}
ol{
    color: red;
}
body{
    background-color: aqua;
}
h2{
    color: chocolate;
}
header{
    border: 4px solid salmon;
}
.navbar{
    border: 2px solid;
    padding: 10px;
    background-color: black;
}
.navbar a{
    padding: 10px;
}